target/
cmake-build-release/
cmake-build-debug/
mpc4j-native-fhe/cmake-build-release/
mpc4j-native-tool/cmake-build-release/
local/
.mvn/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.metals
.vscode
*.DS_Store
*.log

# CMake y logs
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeOutput.log
CMakeDirectoryInformation.cmake
makefile.cmake

# Compilación C/C++
*.a
*.o
*.obj
*.exe
*.dll
*.out
*.d
*.marks

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### input and output
*.input
*.output